h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
    color: rgb(15, 0, 255);
    padding: 10px 20px;

}
.no-underline {
    text-decoration: none;
    display: inline-block;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #00ff25, #0080ff),repeat;
    animation: Gradient 15s ease infinite;
    position: relative;
    background-size: 400% 1000%;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.container {
    text-align: center;
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text], input[type=password] {
    width: 90%;  /* Adjusted width to provide equal padding on both sides */
    padding: 15px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f1f1f1;
    transition: background-color 0.3s, transform 0.3s;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    transform: translateY(-2px);
}

button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #83a4d4;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
    font-weight: bold;  /* Make button text clearer */
    margin-top: 20px;
}

button:hover {
    background-color: #b6fbff;
    transform: translateY(-2px);
}


.error-message {
    color: red; /* Change color to red */
    font-weight: bold;
    margin: 10px 0;
    text-align: center; /* Center the text */
}

/*顯示密碼*/
.toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;   /* 進一步增大圖標大小 */
    position: absolute;
    right: 23px;      /* 進一步微調位置以確保其位於輸入框內部 */
    top: 57%;
    transform: translateY(-50%);
    outline: none;
    z-index: 2;
    padding: 0;
    margin: 0;
    width: 42px;      /* 進一步增加寬度 */
    height: 38px;     /* 進一步增加高度 */
    box-shadow: none;       /* 移除陰影 */
}
.toggle-password:hover {
    background-color: unset;
    transform: translateY(-50%) scale(1.2);
}