<!DOCTYPE html>
<html>
 <head>
  <title>
   搜尋網站
  </title>
  <link rel="stylesheet" th:href="@{/main/bk.css}"/>
  <link rel="stylesheet" th:href="@{/main/style.css}"/>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
 </head>
 <body>
  <header>
   <a class="no-underline" href="/">
    <h1>
     楷德蘆竹
    </h1>
   </a>
   <!-- 若 isLoggedIn 為 true，顯示這個按鈕 -->
   <button class="login-button" th:href="@{/logout}" th:if="${isLoggedIn}">
    登出
   </button>
   <!-- 若 isLoggedIn 為 false，顯示這個按鈕 -->
   <button class="login-button" onclick="location.href='/login'" th:unless="${isLoggedIn}">
    登入
   </button>
  </header>
  <main>
   <div class="search-container">
    <form action="/search" method="post">
     <input id="search-input" name="query" placeholder="輸入搜尋內容" type="text"/>
     <button id="search-button" type="submit">
      搜尋
     </button>
    </form>
   </div>
   <div class="result-card" style="background-color: #89bcc9" th:if="${!isInitialLoad and !isStorageResultsEmpty}">
    <h2 th:if="${!isInitialLoad and !isStorageResultsEmpty}">
     儲位資訊 結果
    </h2>
    <div th:each="result : ${storageResults}">
     <p>
      產品編號:
      <span th:text="${result.產品編號}">
      </span>
     </p>
     <p>
      品名規格:
      <span th:text="${result.品名規格}">
      </span>
     </p>
     <p>
      儲位:
      <span th:text="${result.儲位資料}">
      </span>
     </p>
    </div>
   </div>
   <div class="result-card" style="background-color: #cba77a" th:if="${!isInitialLoad and !isProductInformationResultsEmpty}">
    <h2 th:if="${!isInitialLoad and !isProductInformationResultsEmpty}">
     產品資訊 結果
    </h2>
    <div th:each="result : ${productInformationResults}">
     <p>
      貨品編號:
      <span th:text="${result.貨品編號}">
      </span>
     </p>
     <p>
      貨品名稱:
      <span th:text="${result.貨品名稱}">
      </span>
     </p>
    </div>
   </div>
   <div class="result-card" style="background-color: #9fcb88" th:if="${!isInitialLoad and !isGrossResultsEmpty}">
    <h2 th:if="${!isInitialLoad and !isGrossResultsEmpty}">
     毛量 結果
    </h2>
    <div th:each="result : ${grossResults}">
     <p>
      貨品名稱:
      <span th:text="${result.貨品名稱}">
      </span>
     </p>
     <p>
      類別名稱:
      <span th:text="${result.類別名稱}">
      </span>
     </p>
     <p>
      貨品廠牌:
      <span th:text="${result.貨品廠牌}">
      </span>
     </p>
    </div>
   </div>
   <div class="result-card" style="background-color: #9c8ec9" th:if="${!isInitialLoad and !isMonthlyInventoryResultsEmpty}">
    <h2 th:if="${!isInitialLoad and !isMonthlyInventoryResultsEmpty}">
     月庫存 結果
    </h2>
    <div th:each="result : ${monthlyInventoryResults}">
     <p>
      產品編號:
      <span th:text="${result.貨品名稱}">
      </span>
     </p>
     <p>
      期初數量:
      <span th:text="${result.期初數量}">
      </span>
     </p>
     <p>
      進貨數量:
      <span th:text="${result.進貨數量}">
      </span>
     </p>
     <p>
      進貨單價:
      <span th:text="${result.進貨單價}">
      </span>
     </p>
    </div>
   </div>
  </main>
 </body>
</html>
