body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #00fc93, #e600ff),repeat;
    height: 100vh;
    background-size: 50000%;
    animation: gradientAnimation 8s infinite alternate;
  }

  @keyframes gradientAnimation {
      0% {
          background-position: left;
      }
      100%{
          background-position: right;
      }
  }

@keyframes slideUpFadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.result-card {
    animation: slideUpFadeIn 0.8s forwards;
}
/*針對各家主流瀏覽器隱藏body的滾動條*/
/*Chrome*/
body::-webkit-scrollbar {
    display: none;
}
/*edge*/
body {
    -ms-overflow-style: none;
}