
body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    margin: 0;
    color: #0020ff;
}

.login-button {
    background-color: #FF5733;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

main {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

#search-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
    text-decoration: none;
}

/* Enhanced card style for search results with dynamic background */
.result-card {
    background-color: rgba(0, 252, 164, 0.9); /* Slight white background for better visibility */
    border: 1px solid #ccc;
    padding: 20px;
    margin: 30px 0; /* Increased margin for clearer separation */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Flexbox layout for main content */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Gap between cards */
}

/* Responsive design for search result cards */
.result-card {
    flex: 1 1 250px; /* Flexbox grow, shrink, base width */
    max-width: 600px; /* Maximum width of a card */
    width: 100%; /* Take full width up to the max-width */
    box-sizing: border-box;
}

/* Flexbox layout for search container */
.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px; /* Gap between search input and button */

    justify-content: flex-start;  /* 將內容對齊到容器的起始位置 */
    /*max-width: 420px;  !* 設定一個最大寬度，使輸入框和按鈕可以在同一行內 *!*/
    margin: 0 auto;  /* 使容器在頁面中居中 */
    flex-wrap: nowrap;  /* 強制不允許換行 */
}
.search-container form {
    width: 100%;  /* 使 form 元素填滿其父容器 */
    display: flex;  /* 將 form 設置為彈性盒子 */
    justify-content: center;  /* 確保內部元素（輸入框和按鈕）從左側開始排列 */
}


#search-input {
    flex: 1 1 200px; /* Flexbox grow, shrink, base width */
    max-width: 300px; /* Maximum width for search input */
    width: 100%; /* Take full width up to the max-width */

    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-right: 20px;  /* 添加這行來給輸入框右側留有10像素的間距 */
    border-radius: 20px;
}
.login-button:hover{
    background-color: #e54e2d;
    transform: translateY(-2px);
}
#search-button:hover{
    background-color: #449d48;
    transform: translateY(-2px);
}
.result-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Gap between cards */
}
.result-card {
    float: left;
    min-width: 350px;
    max-width: 800px;
    /* 其他現有的樣式 */
}

/* 清除浮動的方法 */
.container-or-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.container-or-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result-card {
    flex: 1;
    min-width: 350px;
    max-width: 800px;
    margin: 10px;
}
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #ffde98; /* Modify the background color if needed */
    color: #565454; /* This will be the color of the SVG */
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    opacity: 0; /* Start with hidden button */
    transform: translateY(10px); /* Start slightly below its original position */
    transition: opacity 0.3s, transform 0.3s; /* Animation properties */
}

#back-to-top svg {
    width: 24px; /* You can adjust this based on your preference */
    height: 24px;
}
