body {
    font-family: Arial, sans-serif;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  h1{
    margin: 0;
    color: #0020ff; /* 深藍色文字 */
  }
  .login-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  main {
    text-align: center;
    margin-top: 50px;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  #search-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
  }
  
  #search-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #search-results {
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
  }
  