<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-tw">
<head>
    <title>登入</title>
    <link rel="stylesheet" th:href="@{/login/style.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{/main/icon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/main/icon.ico}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a class="no-underline" href="/">
        <h1>
            楷德蘆竹
        </h1>
    </a>
        <form th:action="@{/login}" method="post">
            <div class="container">
                <label for="username"><b>帳號</b></label>
                <input type="text" placeholder="請輸入帳號" name="username" id="username" required>
                <label for="password"><b>密碼</b></label>
                <div class="password-container">
                    <input id="password" name="password" placeholder="請輸入密碼" required="" type="password"/>
                    <button class="toggle-password" onclick="togglePasswordVisibility()" type="button">🙈</button>
                </div>
                <button type="submit">登入</button>
<!--                <div th:if="${errorMessage}" class="error-message">-->
<!--                    <p th:text="${errorMessage}"></p>-->
<!--                </div>-->
                <!-- 檢查 URL 中是否有 'error' 參數 -->
                <th:block th:if="${param.error}" th:class="error-message">
                    <p class="alert alert-danger">登入失敗，請檢查您的帳號或密碼。</p>
                </th:block>
            </div>
        </form>
    </body>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            var toggleButton = document.querySelector('.toggle-password');
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleButton.textContent = '🙊';
            } else {
                passwordInput.type = "password";
                toggleButton.textContent='🙈';
            }
        }
    </script>
</html>
