body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #6C5B7B, #C06C84, #F67280);
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.error-page {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #F67280;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

a:hover {
    background-color: #C06C84;
    transform: translateY(-2px);
}
