<!DOCTYPE html>
<html>
<head>
    <title>後端管理</title>
    <link rel="stylesheet" th:href="@{/bk/bk.css}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/main/icon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/main/icon.ico}" type="image/x-icon"/>
</head>
<body>
    <header>
        <a href="/">
            <h1>楷德蘆竹</h1>
        </a>
        <button class="logout" onclick="location.href='/logout'" >登出</button>
    </header>
    <p>目前的連結是：<a th:href="${link}" th:text="${link}" target="_blank"></a></p>
    <form action="/update-link" method="post">
        <label for="newLink">新連結:</label>
        <input type="text" id="newLink" name="newLink">
        <input type="submit" value="更新連結">
    </form>
</body>
</html>