:root {
  --header-height: 62px;  /* Assuming a standard header height, this can be adjusted */
}
/* 基礎設定 */
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(160deg, #b7e6fd, #cfc2fd, #e69efc);
  background-size: 200% 200%;
  animation: gradientAnimation 8s infinite ease-in-out alternate; /* Adding background animation */
  min-height: 100vh; /* Ensure it fills the entire screen */
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

h1 {
  margin: 0;
  color: #0277bd;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Adding text shadow */
  flex: 1;
  text-align: center;
}

.logout {
  background-color: #e7e0fe;
  border: none;
  border-radius: 20px; /* Making button more rounded */
  padding: 5px 20px;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding box shadow */
}

.logout:hover {
  background-color: #ffffff;
  transform: translateY(-2px); /* Button will move up slightly on hover */
}

p {
  padding: 20px;
  font-size: 1.2em;
  color: #0277bd;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centering form elements */
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #b0bec5;
  border-radius: 20px; /* Making input more rounded */
  width: 80%; /* Setting width */
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus {
  border-color: #4fc3f7; /* Changing border color on focus */
  box-shadow: 0 0 5px #4fc3f7; /* Adding shadow on focus */
}
input[type="submit"] {
  background-color: #e7e0fe;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover {
  background-color: #ffffff;
  transform: translateY(-2px);
}

span {
  word-wrap: break-word;
}

a {
  word-wrap: break-word;
  text-decoration: none;
  color: #0277bd; /* Adding link color */
  transition: color 0.3s; /* Transition effect */
}

a:hover {
  color: #01579b; /* Changing link color on hover */
}

@keyframes gradientAnimation {
  0% { background-position: 0 100%; }
  25% { background-position: 100% 100%; }
  50% { background-position: 100% 0; }
  75% { background-position: 0 0; }
  100% { background-position: 0 100%; }
}



form {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;  /* 更明顯的圓角效果 */
  padding: 30px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;  /* 設定最大寬度 */
  margin: 0 auto;  /* 水平置中 */
}

.title-container {
  flex: 1;
  text-align: center;
}

.button-container {
  margin-left: auto;
  padding-right: 20px;
}



/*側邊攔*/
#menu-button {
  margin-right: auto;
  margin-left: 20px;
  z-index: 1001;  /* Ensuring it's on top of side-menu */
  background-color: #e7e0fe;
  border: none;
  border-radius: 20px; /* Making button more rounded */
  padding: 5px 20px;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding box shadow */
}
#menu-button:hover {
  background-color: #ffffff;
  transform: translateY(-2px); /* Button will move up slightly on hover */
}


#side-menu {
  transition: transform 0.7s ease-in-out;
  transform: translateX(-100%);
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  overflow-y: auto;
  z-index: 1000;
}

#side-menu:not(.hidden) {
  transform: translateX(0);
}

.title-container h1 a {
  display: inline;  /* Make it take only the space of the text */
  background: none;  /* Ensure no background color */
  color: inherit;  /* Keep the original text color */
  text-decoration: none;  /* No underline */
  padding: 0;  /* No padding */
  height: auto;  /* Auto adjust the height based on content */
  width: auto;  /* Auto adjust the width based on content */
  line-height: inherit;  /* Keep the line height consistent */
}
.placeholder {
  flex: 1.5;
}
@media (max-width: 768px) {
  .placeholder {
    flex: 0.9;
  }
}
@media (max-width: 576px) {
  .placeholder {
    flex: 0.5;
  }
}
@media (max-width: 650px) {
  #side-menu {
    width: 50%;  /* Adjust width to not occupy entire screen width */
    top: 100px;  /* Position it further below the header to avoid overlap */
    height: calc(100% - 100px);  /* Adjust height to account for the header and avoid occupying entire height */
  }
}
@media (max-width: 455px) {
  #side-menu {
    width: 75%;  /* Adjust width to occupy entire screen width */
    top: 104px;  /* Position it further below the header to avoid overlap */
    height: calc(100% - 104px);  /* Adjust height to account for the header and avoid occupying entire height */
  }
}
@media (min-width: 455px) and (max-width: 655px) {
  #side-menu {
    width: 50%;  /* Adjust width to occupy entire screen width */
    top: 62px;  /* Position it further below the header to avoid overlap */
    height: calc(100% - 62px);  /* Adjust height to account for the header and avoid occupying entire height */
  }
}
@media(max-width:326px){
  #side-menu {
    width: 75%;  /* Adjust width to occupy entire screen width */
    top: 188px;  /* Position it further below the header to avoid overlap */
    height: calc(100% - 188px);  /* Adjust height to account for the header and avoid occupying entire height */
  }
}
@media (min-width: 656px) and (max-width: 1000px) {
  #side-menu {
    width: 35%;  /* Adjust width to occupy entire screen width */
    top: 62px;  /* Position it further below the header to avoid overlap */
    height: calc(100% - 62px);  /* Adjust height to account for the header and avoid occupying entire height */
  }
}

#menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 100%;
  overflow-y: auto;
}

#menu li{
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}
#menu li a{
  color: #fff;
}

#menu li:last-child {
  border-bottom: none;
}


