<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>密碼加密工具</title>
    <link rel="stylesheet" th:href="@{/pwd-encryption/style.css}"/>
    <link rel="icon" th:href="@{/main/icon.ico}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{/main/icon.ico}" type="image/x-icon"/>
</head>
<body>
        <a onclick="location.href='/'" class="no_animation">
            <h2>密碼加密工具</h2>
        </a>
    <div class="container">
        <form action="/api/encrypt-password" method="post">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <input type="password" name="rawPassword" placeholder="請輸入原始密碼">
            <button type="submit">加密</button>
        </form>

        <p>加密後的密碼: <span th:text="${encryptedPassword}"></span></p>
    </div>
</body>
</html>
